*.icon-white{
    color: white;
}

*.icon-dark{
    color: dimgrey;
}

*.icon-red{
    color: red;
}

*.icon-blue{
    color: dodgerblue;
}

*.icon-green{
    color: mediumseagreen;
}


@media screen and (max-width: 768px){
    /* small screen*/
    div.full-details {display: none}
    div.less-details {display: block}
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    /* medium screen*/
    div.full-details {display: block}
    div.less-details {display: none}
     .hideable-column {display: none}


}

@media screen and (min-width: 1024px){
    /* large screen*/
    div.less-details {display: none}
     .hideable-column {display: table-cell}


}