<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:replace="fragments :: page_head('Categories - Agriweb Admin')"/>


<body>
<div class="container-fluid">

    <div th:replace="navigation :: menu"></div>
    <div>
        <h2>Manage Categories</h2>
        <a class="fas fa-user-plus fa-3x icon-dark m-4" th:href="@{/categories/new}"></a>
        &nbsp;|&nbsp;
        <a class="fas fa-file-csv fa-3x icon-green m-4" th:href="@{/categories/export/csv}"></a>


        <div th:if="${message!= null}" class="alert alert-success text-center">
            [[${message}]]

        </div>

        <div>
            <form th:action="@{/categories/page/1}" class="form-inline m-3">
                <input type="hidden" name="sortField" th:value="${sortField}"/>
                <input type="hidden" name="sortDir" th:value="${sortDir}"/>

                Filter:&nbsp;
                <input type="search" name="keyword" th:value="${keyword}" required class="form-control"/>
                &nbsp;&nbsp;
                <button type="submit"  class="btn btn-success" >
                    <i class="fas fa-search"></i>
                </button>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-secondary" onclick="clearFilter()" >
                    <i class="fas fa-eraser"></i>
                </button>

            </form>
        </div>

        <div class="full-details">
            <table class="table table-responsive-xl table-striped table-bordered table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Alias</th>
                    <th>Enabled</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each = "category: ${listCategories}">

                    <td>[[${category.image}]]</td>
                    <td>[[${category.name}]]</td>
                    <td>[[${category.alias}]]</td>
                    <td>[[${category.enabled}]]</td>

                   <!-- <td>
                        <div th:replace="fragments :: category_status"/>
                    </td>
                    <td>
                        <div th:replace="fragments :: category_actions"/>
                    </td>-->
                    </td>
                    <td><a th:href="@{'/category/edit/' +${category.idCategory}}" title="Edit this user" class="btn btn-primary"><span class="fas fa-edit"></span>
                    </a>&nbsp;<a th:idCategory="${category.idCategory}" th:href="@{'/category/delete/' + ${category.idCategory}}" title="Delete this user" class="btn btn-danger link-delete"><span class="fas fa-remove"></span></a></td>
                </tr>
                </tbody>

            </table>
        </div>
        <div th:replace="fragments :: footer"></div>
    </div>
</div>

</body>

</html>
