<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head(${pageTitle})"/>


<body>
<div class="container-fluid">
    <div th:replace="navigation :: menu"></div>

    <div>
        <h2>Manage Categories | [[${pageTitle}]]</h2>
    </div>
    <form method="post" th:action="@{/categories/save}" style="margin: 0 auto; max-width: 700px" enctype="multipart/form-data"
          th:object="${category}" >
        <input type="hidden" th:field="*{idCategory}"/>
        <div class="border border-secondary p-4">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Category Name:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{name}"
                           minlength="2" maxlength="64" required/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Alias:</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" th:field="*{alias}"
                           minlength="3" maxlength="64" required/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Parent Category:</label>
                <div class="col-sm-8">
                    <select class="form-control" th:field="*{parent}">
                        <option value="0">[No Parent]</option>
                        <th:block th:each="cat: ${listCategories}">
                            <option value="${cat.idCategory}">[[${cat.name}]]</option>
                        </th:block>

                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Image:</label>
                <div class="col-sm-8">
                    <input  type="hidden" th:field="*{image}"/>
                    <input class="mb-2" type="file"  name="image" id="fileImage" accept="image/jpeg, image/png" />
                    <div class="mt-2">

                    <img style="max-width: 150px" class="img-fluid" id="thumbnail" alt="image preview"
                    th:src="@{/img/image-preview.jpg}"/>
                    </div>

                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Enabled:</label>
                <div class="col-sm-8">
                    <input type="checkbox" class="form-control" th:field="*{enabled}"  />

                </div>
            </div>

            <div class="text-center">
                <input type="submit" value="save" class="btn btn-primary m-3" />
                <input type="button" value="cancel" class="btn btn-danger" id="buttonCancel" />

            </div>
        </div>
    </form>

    <!-- Modal popup-->
    <div class="modal fade text-center" id="modalDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle">Warning</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <span id="modalBody"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>



                </div>

            </div>

        </div>

    </div>

    <!-- Modal popup-->

</div>
<!--
<footer class="footer bg-dark mt-4">
    <div class="text-center">
        <p class="text-white">Made with ♥ by Group xx || All rights reserved &copy; Agriweb 2022</p>
    </div>
</footer>
-->

<div th:replace="fragments :: footer"></div>




<script type="text/javascript">
    $(document).ready(function () {
        $("#buttonCancel").on("click", function () {
            window.location ="[[@{/categories}]]";
        });

        $("#fileImage").change(function () {
            fileSize = this.files[0].size;

            if(fileSize> 1048576){
                alert("File size:" +fileSize);
                this.setCustomValidity("choisir une image de moin de 1MB!");
                this.reportValidity();

            } else{
                this.setCustomValidity("");
                showImageThumbnail(this);
            }

        })
    })

</script>
</body>
</html>
