<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: page_head('Home - AgriWeb')" />
 <!--   <meta charset="utf-8">


    <title>AgriWeb</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
-->

<body>
<div class="container-fluid">
   <!-- <div>
        <form th:action="@{/logout}" name="logoutForm" method="post" th:hidden="true">
            <input type="submit"/>
        </form>

        &lt;!&ndash;Navbar&ndash;&gt;
        <nav class="navbar navbar-expand-lg bg-success navbar-light">
            &lt;!&ndash; Brand &ndash;&gt;
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/img/agriweblogo.png}" alt="app-logo" style="width:25%;"/>
            </a>
            &lt;!&ndash; Toggler/collapsibe Button &ndash;&gt;
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            &lt;!&ndash; Navbar links &ndash;&gt;
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/products}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/orders}">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/reports}">Reports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li>
                        <span class="fas fa-user fa-2x icon-dark"></span>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" sec:authentication="principal.username"></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" id="logoutLink" href="">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        &lt;!&ndash;/.Navbar&ndash;&gt;
    </div>-->
    <div th:replace="navigation :: menu"></div>
    <div class="text-center">
        <h2>welcome to Agriweb</h2>
        <a
           th:href="@{/account}"
           sec:authentication="principal.username"></a>
        &nbsp;
        <span sec:authentication="principal.authorities"></span>
    </div>

    <div th:replace="fragments :: footer"></div>

</div>
<script type="text/javascript">
  /*  $(document).ready(function () {
        $("#logoutLink").on("click", function (e) {
            e.preventDefault();
            document.logoutForm.submit();

        })

    })*/

</script>
</body>

</html>
