<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<body th:fragment="menu">

<div>
    <form th:action="@{/logout}" name="logoutForm" method="post" th:hidden="true">
        <input type="submit"/>
    </form>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg bg-success navbar-light">
        <!-- Brand -->
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/img/agriweblogo.png}" alt="app-logo" style="width:25%;"/>
        </a>
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">

                <li class="nav-item" sec:authorize="hasAuthority('admin')">
                    <a class="nav-link" th:href="@{/users}">Users</a>
                </li>

                 <th:block sec:authorize="hasAnyAuthority('admin','editor')">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/categories}">Categories</a>
                </li>
                 </th:block>

                <th:block sec:authorize="hasAnyAuthority('admin','editor','salesperson', 'delivery')">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/products}">Products</a>
                </li>
                </th:block>

                <th:block sec:authorize="hasAnyAuthority('admin','salesperson','delivery')">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/orders}">Orders</a>
                </li>
                </th:block>

                <th:block sec:authorize="hasAnyAuthority('admin','salesperson')">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/reports}">Reports</a>
                </li>
                </th:block>

                <th:block sec:authorize="hasAnyAuthority('admin','salesperson','delivery')">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/customers}">Customers</a>
                </li>
                </th:block>

                <th:block sec:authorize="hasAnyAuthority('admin','assitant')">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/reviews}">Reviews</a>
                    </li>
                </th:block>

                <li class="nav-item" sec:authorize="hasAuthority('admin')">
                    <a class="nav-link" th:href="@{/settings}">Settings</a>
                </li>
                <li>
                    <span class="fas fa-user fa-2x icon-dark"></span>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                       th:href="@{/account}"
                       sec:authentication="principal.username"></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" id="logoutLink" href="">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!--/.Navbar-->
</div>


</body>
</html>