<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head(${pageTitle})"/>

<!--
<head>
    <meta charset="utf-8">


    <title>[[${pageTitle}]]</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   &lt;!&ndash; <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>&ndash;&gt;
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
-->

<body>
<div class="container-fluid">
    <!--<div>

        &lt;!&ndash;Navbar&ndash;&gt;
        <nav class="navbar navbar-expand-lg bg-success navbar-light">
            &lt;!&ndash; Brand &ndash;&gt;
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/img/agriweblogo.png}" alt="app-logo" style="width:25%;"/>
            </a>
            &lt;!&ndash; Toggler/collapsibe Button &ndash;&gt;
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            &lt;!&ndash; Navbar links &ndash;&gt;
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/products}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/orders}">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/reports}">Reports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
            </div>
        </nav>
        &lt;!&ndash;/.Navbar&ndash;&gt;
    </div>-->
    <div th:replace="navigation :: menu"></div>

      <div>
        <h2>Manage Users | [[${pageTitle}]]</h2>
      </div>
        <form method="post" th:action="@{/users/save}" style="margin: 0 auto; max-width: 700px" enctype="multipart/form-data"
              th:object="${user}" onsubmit="return checkEmailUnique(this);">
            <input type="hidden" th:field="*{idUser}"/>
            <div class="border border-secondary p-4">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Username:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{username}"
                               minlength="2" maxlength="30" required/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Email:</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" th:field="*{email}"
                        minlength="7" maxlength="128" required/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Password:</label>
                    <div class="col-sm-8">
                        <input th:if="${user.idUser == null}" type="password" class="form-control" th:field="*{password}"
                               minlength="6" maxlength="128" required/>

                        <input th:if="${user.idUser != null}" type="password" class="form-control" th:field="*{password}"
                               minlength="6" maxlength="128" />
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Roles:</label>
                    <div class="col-sm-8">
                         <th:block th:each="role: ${roleList}">
                             <input type="checkbox" th:field="*{roles}"
                                    th:text="${role.nameRole}" th:value="${role.idRole}" class="m-2"/>
                             : <small>[[${role.descRole}]]</small> <br />
                         </th:block>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Enabled:</label>
                    <div class="col-sm-8">
                        <input type="checkbox" class="form-control" th:field="*{enabled}"  />

                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Photo:</label>
                    <div class="col-sm-8">
                        <input  type="hidden" th:field="*{photo}"/>
                        <input class="mb-2" type="file"  name="image" id="fileImage" accept="image/jpeg, image/png" />
                        <img style="max-width: 150px" class="img-fluid" id="thumbnail" alt="photo preview" th:src="@{${user.photoImagePath}}"/>

                    </div>
                </div>

                <div class="text-center">
                    <input type="submit" value="save" class="btn btn-primary m-3" />
                    <input type="button" value="cancel" class="btn btn-danger" id="buttonCancel" />

                </div>
            </div>
        </form>

    <!-- Modal popup-->
       <div class="modal fade text-center" id="modalDialog">
           <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modalTitle">Warning</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <span id="modalBody"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>



                    </div>

                </div>

           </div>

       </div>

    <!-- Modal popup-->

</div>
<!--
<footer class="footer bg-dark mt-4">
    <div class="text-center">
        <p class="text-white">Made with ♥ by Group xx || All rights reserved &copy; Agriweb 2022</p>
    </div>
</footer>
-->

<div th:replace="fragments :: footer"></div>




<script type="text/javascript">
    $(document).ready(function () {
        $("#buttonCancel").on("click", function () {
            window.location ="[[@{/users}]]";
        });

        $("#fileImage").change(function () {
            fileSize = this.files[0].size;

            if(fileSize> 1048576){
                alert("File size:" +fileSize);
                this.setCustomValidity("choisir une image de moin de 1MB!");
                this.reportValidity();

            } else{
                this.setCustomValidity("");
                showImageThumbnail(this);
            }

        })
    })
    //image thumbnail handling
    function showImageThumbnail(fileInput){
        var file = fileInput.files[0];
        var reader = new FileReader();
        reader.onload = function(e) {
          $("#thumbnail").attr("src", e.target.result);

        };
        reader.readAsDataURL(file);

    }
    
    function checkEmailUnique(form){
       url = "[[@{/users/check_email}]]";
       idUser = $("#idUser").val();
        userEmail = $("#email").val();
        csrfValue = $("input[name='_csrf']").val();
        params = {idUser: idUser, email: userEmail, _csrf: csrfValue};


        $.post(url, params, function(response) {
            if(response == "OK"){
                form.submit();
            } else if(response == "DUPLICATED") {
                showModalDialog("Attention!",
                "There is another user with the email:" + userEmail);
            } else{
                showModalDialog("Error", "Unknown response from server");
            }

        }).fail(function () {
            showModalDialog("Error", "Could not connect to the server server");


        });
        return false;
    }

    function showModalDialog(title, message) {
        $("#modalTitle").text(title);
        $("#modalBody").text(message);
        $("#modalDialog").modal();



    }
</script>
</body>
</html>
