<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:replace="fragments :: page_head('Users - Agriweb Admin')"/>
<!--<head>
    <meta charset="utf-8">


    <title>AgriWeb</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>-->

<body>
<div class="container-fluid">
    <!--<div>
        &lt;!&ndash;Navbar&ndash;&gt;
        <nav class="navbar navbar-expand-lg bg-success navbar-light">
            &lt;!&ndash; Brand &ndash;&gt;
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/img/agriweblogo.png}" alt="app-logo" style="width:25%;"/>
            </a>
            &lt;!&ndash; Toggler/collapsibe Button &ndash;&gt;
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            &lt;!&ndash; Navbar links &ndash;&gt;
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/products}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/orders}">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/reports}">Reports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
            </div>
        </nav>
        &lt;!&ndash;/.Navbar&ndash;&gt;
    </div>-->
    <div th:replace="navigation :: menu"></div>
    <div>
        <h2>Manage Users</h2>
        <a class="fas fa-user-plus fa-3x icon-dark m-4" th:href="@{/users/new}"></a>
        &nbsp;|&nbsp;
        <a class="fas fa-file-csv fa-3x icon-green m-4" th:href="@{/users/export/csv}"></a>


        <div th:if="${message!= null}" class="alert alert-success text-center">
            [[${message}]]

        </div>

        <div>
            <form th:action="@{/users/page/1}" class="form-inline m-3">
                <input type="hidden" name="sortField" th:value="${sortField}"/>
                <input type="hidden" name="sortDir" th:value="${sortDir}"/>

                Filter:&nbsp;
                <input type="search" name="keyword" th:value="${keyword}" required class="form-control"/>
                &nbsp;&nbsp;
                <button type="submit"  class="btn btn-success" >
                    <i class="fas fa-search"></i>
                </button>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-secondary" onclick="clearFilter()" >
                    <i class="fas fa-eraser"></i>
                </button>

            </form>
        </div>

          <div class="full-details">
             <table class="table table-responsive-xl table-striped table-bordered table-hover">
            <thead class="thead-dark">
                 <tr>
                     <th>User's ID</th>
                     <th>Photo</th>
                     <th th:replace="fragments :: column_link('username', 'Username', 'none')" />
                     <!--<th>
                        <a class="text-white" th:if="${sortField != 'username'}" th:href="@{'/users/page/' +${currentPage} + '?sortField=username&sortDir=' + ${sortDir}+ ${keyword != null ? '&keyword=' +keyword: '' }}">
                            Username
                        </a>
                         <a class="text-white" th:if="${sortField == 'username'}" th:href="@{'/users/page/' +${currentPage} + '?sortField=username&sortDir=' +${reverseSortDir} + ${keyword != null ? '&keyword=' +keyword: '' }}">
                             Username
                         </a>
                         <span th:if="${sortField == 'username'}"
                         th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down' }"></span>
                     </th>-->
                    <!-- <th>
                         <a class="text-white" th:if="${sortField != 'email'}" th:href="@{'/users/page/' +${currentPage} + '?sortField=email&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' +keyword: '' }}">
                         Email
                         </a>
                         <a class="text-white" th:if="${sortField == 'email'}" th:href="@{'/users/page/' +${currentPage} + '?sortField=email&sortDir=' +${reverseSortDir} + ${keyword != null ? '&keyword=' +keyword: '' }}">
                             Email
                         </a>
                         <span th:if="${sortField == 'email'}"
                               th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down' }"></span>
                     </th>-->
                     <th class="hideable-column">
                     <th th:replace="fragments :: column_link('email', 'E-mail', 'tag')" />
                     </th>
                     <th>Roles</th>

                   <!--  <th>
                         <a class="text-white" th:if="${sortField != 'enabled'}" th:href="@{'/users/page/' +${currentPage} + '?sortField=enabled&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' +keyword: '' }}">
                             Enabled?
                         </a>
                         <a class="text-white" th:if="${sortField == 'enabled'}" th:href="@{'/users/page/' +${currentPage} + '?sortField=enabled&sortDir=' +${reverseSortDir} + ${keyword != null ? '&keyword=' +keyword: '' }}">
                             Enabled?
                         </a>
                         <span th:if="${sortField == 'enabled'}"
                               th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down' }"></span>
                     </th>-->
                     <th th:replace="fragments :: column_link('enabled', 'Enaled?', 'none')" />

                     <th>Action</th>
                 </tr>
            </thead>
            <tbody>
               <tr th:each = "user: ${userList}">
                   <td >[[${user.idUser}]]</td>
                   <td><span th:if="${user.photo == null}"  class="fas fa-portrait fa-3x icon-dark"></span>
                        <img style="width: 100px" alt="user photo" th:if="${user.photo !=null}" th:src="@{${user.photoImagePath}}"/> </td>
                   <td>[[${user.username}]]</td>
                   <td class="hideable-column">[[${user.email}]]</td>
                   <td>[[${user.roles}]]</td>
                   <td><a th:href="@{'/users/' + ${user.idUser} +'/enabled/false'}" title="disable this user"><span th:if="${user.enabled == true}"  class="fas fa-check-circle fa-2x icon-green"></span></a>
                       <a th:href="@{'/users/' + ${user.idUser} +'/enabled/true'}" title="enable this user"><span th:if="${user.enabled == false}" class="fas fa-check-circle fa-2x icon-dark"></span></a>
                   </td>
                   <td><a th:href="@{'/users/edit/' +${user.idUser}}" title="Edit this user" class="btn btn-primary"><span class="fas fa-edit"></span>
                   </a>&nbsp;<a th:idUser="${user.idUser}" th:href="@{'/users/delete/' + ${user.idUser}}" title="Delete this user" class="btn btn-danger link-delete"><span class="fas fa-remove"></span></a></td>
               </tr>
            </tbody>

        </table>
          </div>
    </div>
</div>

<div class="less-details">
  <div th:each="user : ${userList}" class="row m-1 border border-secondary rounded">
      <div class="col-4">
          <td><span th:if="${user.photo == null}"  class="fas fa-portrait fa-3x icon-dark"></span>
              <img style="width: 100px" alt="user photo" th:if="${user.photo !=null}" th:src="@{${user.photoImagePath}}"/> </td>
      </div>
      <div class="col-5">
          <div>[[${user.username}]]</div>
          <div>[[${user.roles}]]</div>
      </div>

      <div class="col-3 mt-3">
          <a th:href="@{'/users/' + ${user.idUser} +'/enabled/false'}" title="disable this user" class="fas fa-check-circle fa-2x icon-green" th:if="${user.enabled == true}"></a>
          <a th:href="@{'/users/' + ${user.idUser} +'/enabled/true'}" title="enable this user" th:if="${user.enabled == false}" class="fas fa-check-circle fa-2x icon-dark"></a>


          <a th:href="@{'/users/edit/' +${user.idUser}}" title="Edit this user" class="fas fa-edit fa-2x icon-blue">
          </a>&nbsp;

          <a th:idUser="${user.idUser}" th:href="@{'/users/delete/' + ${user.idUser}}" title="Delete this user" class="fas fa-trash fa-2x icon-red link-delete"></a>

      </div>
      <div>&nbsp;</div>


  </div>
</div>

   <div class="text-center m-1" th:if="${totalItems > 0}">
         <span > Showing users #[[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
   </div>

<div class="text-center m-1" th:unless="${totalItems > 0}">
    <span> No users found</span>
</div>

 <div th:if="${totalPages > 1}">
     <nav>
         <ul class="pagination justify-content-center flex-wrap">
            <li th:class="${currentPage  > 1 ? 'page-item': 'page-item disabled'}">
                <a class="page-link" th:replace="fragments :: page_link(1, 'First')">
                    First
                </a>
            </li>

             <li th:class="${currentPage > 1 ? 'page-item': 'page-item disabled'}">
                 <a class="page-link" th:replace="fragments :: page_link(${currentPage-1}, 'Previous')">
                     Previous
                 </a>
             </li>

             <li th:class="${currentPage != i ? 'page-item': 'page-item active' }" th:each="i : ${#numbers.sequence(1, totalPages)}">
                 <a class="page-link"  th:replace="fragments :: page_link(${i}, ${i})">[[${i}]]
                 </a>
             </li>
             <li th:class="${currentPage < totalPages ? 'page-item': 'page-item disabled'}">
                 <a class="page-link" th:replace="fragments :: page_link(${currentPage+1}, 'Next')">
                 Next
             </a>
             </li>
             <li th:class="${currentPage < totalPages ? 'page-item': 'page-item disabled'}">
                 <a class="page-link" th:replace="fragments :: page_link(${totalPages}, 'Last')">
                     Last
                 </a>
             </li>
         </ul>
     </nav>

 </div>

<!-- Modal popup-->
<div class="modal fade text-center" id="confirmModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <span  id="confirmText"></span>
            </div>
            <div class="modal-footer">
                <a class="btn btn-success" id="yesButton">Yes</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>



            </div>

        </div>

    </div>

</div>

<!-- Modal popup-->

<!--
<footer class="footer bg-dark">
    <div class="text-center">
        <p class="text-white">Made with ♥ by Group xx || All rights reserved &copy; Agriweb 2022</p>
    </div>
</footer>
-->
<div th:replace="fragments :: footer"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            link = $(this);
           // alert($(this).attr("href"));
            idUser = link.attr("idUser");
            $("#yesButton").attr("href",link.attr("href"))

            $("#confirmText").text("Are you sure you want to delete this user" +idUser+ " ?");
            $("#confirmModal").modal();

        })
    })
    
    function clearFilter() {
        window.location = "[[@{/users}]]"
    }
</script>
</body>

</html>
